# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/oni-chan/node_modules
/oni-chan/.pnp
/oni-chan/.pnp.js
/oni-chan/.yarn/install-state.gz

# testing
/oni-chan/coverage

# next.js
/oni-chan/.next/
/oni-chan/out/

# production
/oni-chan/build

# misc
/oni-chan/.DS_Store
/oni-chan/*.pem

# debug
/oni-chan/npm-debug.log*
/oni-chan/yarn-debug.log*
/oni-chan/yarn-error.log*

# local env files
/oni-chan/.env*.local

# vercel
/oni-chan/.vercel

# typescript
/oni-chan/*.tsbuildinfo
/oni-chan/next-env.d.ts
